<div class='container'>

  <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
    <button id="toggle-secondary-navigation" class="toggle-secondary-navigation"><i class="fas fa-plus"></i></button>
    <div class="menu">
    </div>
  </div>

  <ul class="social-media-icons">

    {{ with .Site.Params.social.instagram }}
    <li>
      <a href="https://instagram.com/pelotons.cc" data-animate-hover="pulse" class="instagram" target="_blank">
        <i class="fab fa-instagram" title="instagram"></i>
        <span class="screen-reader-text">instagram</span>
      </a>
    </li>
    {{end}}

  </ul></div>
